.container{
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
}
h1{
    font-size: 30px;
    color: #101010;
}
input{
    width: 260px;
    height: 50px;
    border: 0;
    background-color: #333;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: right;
}
.tasters{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: left;
}
button{
    background-color: red;
    border: 0;
    margin: 2px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
}
.btn{
    background-color: orange;
}
.operators .btn:hover{
    background-color: rgb(219, 143, 0);
}
.operands .btn{
    background-color: burlywood;
}
.operands .btn:hover{
    background-color: rgb(194, 153, 100);
}
.operands .clear{
    background-color: chocolate;
}
.operands .clear:hover{
    background-color: rgb(182, 90, 25);
}
.operands .widthmore{
    width: 104px;
}